---
#
---
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Dietas Scardale Córdoba</title>
  <!--link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"-->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  <style>
    /*.lobster{ font-family: 'Lobster', sans-serif; }*/
    .measure-extra-narrow{
      max-width: 250px;
    }
    .text-shadow-white{ text-shadow: 0px 2px white; }

    .vh-75{ min-height: 75vh; }

    @media screen and (min-width: 30em){
      .measure-extra-narrow{
        max-width: 250px;
      }
    }
    @media screen and (min-width: 50em){
      .measure-extra-narrow{
        max-width: 350px;
      }
    }

    .arcoiris {
                  /*Cambiar url*/
      background-image: url(/static/stock/vegetales-by-freepik.jpg);
      background-position: center center;

      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);

      opacity: 0;
      left: -10px;
      top: -10px;
      width: calc(100% + 20px);
      height: calc(100% + 20px);

      transition: opacity .6s ease-out, left .6s ease-out;
    }



  </style>
</head>
<body>


<div class="dn-ns tc f2 bg-green lobster pa3 border-box" aria-label="Dieta Scardale Córdoba">{% include logotipo-en-linea.svg %}</div>
<article class="helvetica">
  <header class="vh-100 bg-light-pink dt border-box w-100">
    <div 
      style="background:url(/static/stock/ensaladas-quema-grasa-5.jpg) no-repeat center center;background-size: cover;"
      class="dtc v-mid cover ph3 ph4-m ph5-l border-box w-100 bg-top">
        <div class="dn db-ns tc f2 mt4 lobster pa2-m pa3-l measure-extra-narrow"  aria-label="Dieta Scardale Córdoba">{% include logotipo-dos-lineas.svg %}</div>
        <hgroup class="text-shadow-white pa2 pa0-ns">
          <h1 class="f2 fw5 f-subheadline-l measure lh-title">Adelgazá 7KG en 14 días!</h1>
          <h2 class="f3 f2-l fw5 black">Baja de peso de forma saludable y sin pasar hambre.</h2>
        </hgroup>
        <a class="dib mb4" href="#contacto"><img src="/static/images/contactate.png"></a>
    </div>
  </header>
  <div class="relative overflow-hidden ph3 border-box">
    <div class="serif">
      <p class="lh-copy f4 f3-m f2-l measure center pv3 pv4-ns">Incluye todas las comidas del día:    <br><strong>Desayuno, Almuerzo, Merienda y Cena.</strong></p>
        <span class="dib w4 w5-l fr ml3 grow">{% include ribbon.svg text1="Productos" text2="Frescos y" text3="de Calidad" %}</span> 
      <p class="lh-copy f4 f3-m f2-l measure center pv3 pv4-ns">Envío a domicilio <strong>sin cargo</strong> en toda la ciudad de Córdoba.</p>
      <div class="lh-copy f4 f3-m f2-l measure center pv3 pv4-ns">
        Además:
        <ul class="db f5 f4-m f3-l b">
          <li class="mt2">Viandas elaboradas en el mismo día de la entrega.</li>
          <li class="mt2">Productos frescos y de primera calidad</li>
        </ul>
      </div>
    </div>
  </div>
</article>


<footer class="pa4 pa5-l bt b--black-50 relative overflow-hidden" id="contacto">
  <div class="absolute z-0 arcoiris cover pb5" id="arcoiris-background"></div>
  <div class="ph3 ph4-m ph5-l relative z-1">
    <div class="mb4-l cf tracked vh-75">
      <h1 class="fl w-100 pv0 f4 fw6  mb4">Datos de Contacto</h1>
        <h4 class="f5 f4-m f3-l fw6">Ana Cano</h4>
      <article class="fl w-100 dib-ns w-auto-ns mr4-m mr5-l mb0 mb4-ns pr2 pr0-ns">
        <span class="f6 f5-m f4-l db black-70">Córdoba, Argentina</span>
        <a class="f5 f5-m f4-l db fw6 pv3 link hover-black dark-green select-on-click">
          acanopenseroli@gmail.com
        </a>
      </article>
      <article class="fl w-100 dib-ns w-auto-ns mr4-m mr5-l mb0 mb4-ns pl2 pl0-ns">
        <span class="f5 f5-m f4-l di black-70">
          {% include whatsapp-logo.svg %} Celular:
        </span>
        <a href="tel:+543516668164" class="f5 f5-m f4-l db fw6 pv3 link hover-black dark-green select-on-click" title="Llamar al celular">
           351-666-8164
        </a>
      </article>
      <article class="fl w-100 dib-ns w-auto-ns mr4-m mr5-l mb0 mb4-ns pl2 pl0-ns">
        <span class="f5 f5-m f4-l di black-70">
          Fijo:
        </span>
        <a href="tel:+543516497596" class="f5 f5-m f4-l db fw6 pv3 link hover-black dark-green select-on-click" title="Llamar al fijo">
          351-649-7596
        </a>
      </article>
    </div>
  </div>
  <div class="f6 dib absolute bottom-0 right-0 mb3 mr3 ml3 text-nowrap black-50 hover-black">
    <span style="font-size:.75em">imágen de fondo: <a class="link dark-green hover-black" href="http://www.freepik.com/free-photo/wooden-table-with-vegetables_889495.htm" target="_blank">freepik</a> | diseño web: <a class="link dark-green hover-black" href="https://www.francisco-cano.com/" target="_blank">francisco cano</a></span>
  </div>
</footer>

<script>
  // set the header element with min-height: 100vh to a fixed height, calculated on page load. Else every time the mobile phone shows the keyboard or the url bar, the hole page would change scroll position, and is anoying.

  var header100vh = document.querySelector('.vh-100'),
      vh100 = header100vh.offsetHeight;

  header100vh.style.height = vh100 + 'px';

  window.onscroll = function () {
    //http://stackoverflow.com/questions/3464876/javascript-get-window-x-y-position-for-scroll
    var scroll = window.pageYOffset || document.documentElement.scrollTop,
      background;
    
    if(scroll > (vh100 * 2 / 3)) {
      window.onscroll = undefined;
      
      background = document.getElementById("arcoiris-background");
      
      //background.style.left = '0';
      background.style.opacity = '.5';
      
    }
  };
  window.onscroll();
</script>

</body>
</html>